<!DOCTYPE html>
<html>
<head>
<title>Kit UI</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
<body>
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center text-center" id="about">
        <div class="w-100">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
          <h1 class="mb-0"><%= @user.first_name %>
            <span class="text-primary"><%= @user.last_name %></span>
          </h1>
          <div class="subheading mb-5">
            <a href="mailto:name@email.com"><%= @user.email %></a>
          </div>
          <a <%= link_to "Edit", edit_user_registration_path %> </a>
          <p class="lead mb-5">I<%= @user.description %></p>
          <div class="social-icons">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </section>
</body>
</html>
