<%= render "banner_small"%>
<%= render "profile"%>
<br>

<div class="container">
  <div class="row">
    <% @user_events.each do |n| %>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="mb-1"><%= n.title %></h5>
                <p class="card-text"><%= n.description %></p>
              <div class="d-flex w-100 justify-content-between">
                <a <%= link_to "View", event_path(n.id)%> </a>
                <div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div><br>
      </div>
    <% end %>
  </div>
</div>
