<!DOCTYPE html>
<html>
<head>
<title>Kit UI</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <div class="row d-flex justify-content-center ">

        <% @events.each do |n| %>
          <div class="col-sm-4">
            <div class="d-flex justify-content-center">

              <div class="card" style="width: 25rem; ">
                <%= image_tag "#{n.price.digits.last}.jpg", class: 'card-img-top' %>
                <div class="card-body">
                  <h5 class="card-title"><%= n.title[0,30] %>
                    <% unless n.title.size < 30 %>
                    ...
                    <% end %></h5>
                  <p class="card-text"><%= n.start_date.to_formatted_s(:short) %> • <%= n.location[0,15] %>...</p>

                    <div>
                      <div>
                        <span class="badge badge-primary"> <%= n.price %> € </span>
                        <% unless n.users.count == 0 %>
                        <span class="badge badge-success"> <%= n.users.count %>
                          <% if n.users.count == 1 %>
                          guest
                          <% else %>
                          guests </span>
                          <% end %>
                        <% end %>
                      </div>
                    </div><br>

                  <div class="container">
                    <a <%= link_to "View", event_path(n)%> </a>
                  </div>

                </div>
              </div>

        </div><br><br>
        </div>
        <% end %>

        <!-- <div class="card border-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header"></div>
            <div class="card-body">
              <img style="height: 200px; width: 100%; display: block;"src="img/alexander-popov-hTv8aaPziOQ-unsplash.jpg" alt="Card image">
              <h4 class="card-title pt-2">Title of the event</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="modal-footer justify-content-start">
            <button type="button" class="btn btn-success">Join the event</button>
          </div>
      </div>
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"></div>
          <div class="card-body">
            <img style="height: 200px; width: 100%; display: block;"src="img/fidel-fernando-249DzAuJTqQ-unsplash.jpg" alt="Card image">
              <h4 class="card-title pt-2">Title of the event</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
            <div class="modal-footer justify-content-start">
              <button type="button" class="btn btn-success">Join the event</button>
          </div>
      </div>
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"></div>
          <div class="card-body">
            <img style="height: 200px; width: 100%; display: block;"src="img/kelsey-chance-tAH2cA_BL5g-unsplash.jpg" alt="Card image">
            <h4 class="card-title pt-2">Title of the event</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
            <div class="modal-footer justify-content-start">
              <button type="button" class="btn btn-success">Join the event</button>
            </div>
      </div>
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"></div>
          <div class="card-body">
            <img style="height: 200px; width: 100%; display: block;"src="img/samantha-gades-fIHozNWfcvs-unsplash.jpg" alt="Card image">
            <h4 class="card-title pt-2">Title of the event</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="modal-footer justify-content-start">
            <button type="button" class="btn btn-success">Join the event</button>
          </div>
      </div>
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"></div>
          <div class="card-body">
            <img style="height: 200px; width: 100%; display: block;"src="img/vishnu-r-nair-m1WZS5ye404-unsplash.jpg" alt="Card image">
            <h4 class="card-title pt-2">Title of the event</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="modal-footer justify-content-start">
            <button type="button" class="btn btn-success">Join the event</button>
          </div>
      </div>
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header"></div>
      <div class="card-body">
        <img style="height: 200px; width: 100%; display: block;"src="img/baim-hanif-pYWuOMhtc6k-unsplash.jpg" alt="Card image">
        <h4 class="card-title pt-2">Title of the event</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success">Join the event</button>
      </div> -->
  </div>
</div>
</body>
</html>
